<!DOCTYPE html>
<html>
<head>
    <title>Menu Principal</title>
</head>
<body>
    <h1>Menu Principal</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/cadastrar_usuario">Cadastrar Usuário</a></li>
        <li><a href="/acessar_conta">Acessar Conta</a></li>
        <li><a href="/mostrar_anuncios">Mostrar Anúncios</a></li>
        <li><a href="/criar_anuncio">Criar Anúncio</a></li>
        <!-- Adicione outras opções de menu aqui -->
    </ul>
</body>
</html>
